/* Custom font */
@font-face {
    font-family: Mitra;
    src: url('./fonts/Shabnam.ttf');
}
@font-face {
    font-family: Cairo;
    /* src: url("./fonts/Cairo-SemiBold.ttf"); */
    src: url('./fonts/Cairo-SemiBold.ttf');
    /* font-weight: normal; */
}
* {
    font-family: Mitra;
}
/* Sider */
.sider {
    flex: 0 0 205px !important;
}
/* Header */
.header {
    background-color: #f9f9f9 !important;
}
/* Login page */
.top-nav {
    height: 60px;
    background-color: #64c2cf;
    color: #f0f0f0;
    line-height: 60px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}
.bottom-nav {
    background-color: #f3823e;
    color: #f0f0f0;
    margin-top: 80px;
    line-height: 80px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    width: 100%;
    min-height: 100px;
}
.logo {
    height: 90px;
    padding-top: 10px;
}
.login-logo {
    width: 100%;
    margin-top: -100px;
    margin-bottom: 60px;
    text-align: center;
}
.login-logo img {
    width: 100px;
}

.logo img {
    width: 50px;
}
.mt {
    margin-top: 100px;
}
.login-card {
    border: 1px solid #e0e0e0;
    border-top: 2px solid #64c2cf;
}
.captcha-wrapper img{
    width: 80%;
    z-index: -999999999999999;
    height: 40px;
}
.captcha-wrapper .refresh{
    width: 20%;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    background-color: #f8f8f8;
    border: 1px dashed #e0e0e0;
    text-align: center;
    cursor: pointer !important;
}
.captcha-wrapper .refresh:active span{
    color: #0a4b50;
}
.captcha-wrapper .refresh span{
    font-size: 20px;
    color: #1b919e;
}
h2,
h1 {
    font-family: Cairo;
    text-align: right;
    color: #976f2f;
    font-size: 15px;
    margin-bottom: 30px;
}
h1 {
    text-align: center;
    font-size: 18px;
}
/* Card */
.ant-card-head-title,
.ant-modal-title {
    font-size: 14px;
    color: #7a5518 !important;
    font-family: Cairo;
    letter-spacing: 1px;
    /* font-weight: bold !important; */
}
.ant-card-body {
    margin-top: 15px;
    padding: 20px 40px;
}
.ant-card {
    border: 1px solid #f5eadb;
    padding: 0 !important;
}
.ant-card-footer,
.ant-card-tab-footer {
    border-top: 1px solid #f0f0f0;
    padding: 10px 0 4px;
    text-align: center;
    margin: 0 -40px;
    margin-top: 30px;
    /* margin-bottom: -10px; */
    height: 50px;
    /* border:1px solid #000; */
}

.ant-card-tab-footer {
    margin: 40px 0px 0 0;
    background-color: transparent;
}
.ant-tabs-large > .ant-tabs-nav .ant-tabs-tab {
    
}
.ant-tabs-tab-btn{
    font-size: 13px;
    /* color: #333 !important; */
    font-family: Cairo;
    letter-spacing: 1px;
}
/* Form */
.input-max-width {
    max-width: 300px !important;
}
.ant-form-item-explain.ant-form-item-explain-error,
.ant-form-item-explain.ant-form-item-explain-success {
    font-size: 11.5px;
    position: absolute;
    bottom: -23px;
}
.ant-input {
    border-radius: 1px;
    font-size: 13px !important;
    padding: 7px !important;
}
.ant-form-rtl .ant-form-item-label {
    text-align: right !important;
}
.ant-form-item {
    padding-top: 10px !important;
    margin-bottom: 16px;
}
.ant-form-item-label > label {
    font-size: 13px;
    color: #666;
}
.ant-select-item {
    font-size: 12px;
}
.ant-select {
    font-size: 13px;
}
.mini-form .ant-form-item {
    margin-bottom: 4px !important;
}
.ltr {
    direction: ltr;
    text-align: right;
}
.ltr-left {
    direction: ltr;
    text-align-last: left;
}
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    color: #1b919e;
    border-color: #53bbc7 !important;
}
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
    background-color: #53bbc7;
}
.ant-radio-button-wrapper:hover {
    color: #1b919e;
}
@media (max-width: 575px) {
    .ant-form-rtl .ant-form-item-label {
        text-align: right;
    }
}
/* Global */
p {
    text-align: justify;
}
.sm-font {
    font-size: 12px !important;
}
.xs-font {
    font-size: 11px;
}
.wide-button {
    padding: 0px 40px;
}
.wider-button {
    padding: 5px 50px;
}
.act-icon {
    cursor: pointer;
    font-size: 14px ;
}
.float-left {
    float: left;
}
.act-icon span {
    height: 100%;
    margin: -15px;
    display: block;
    padding: 15px 0;
}
.edit {
    color: #6fc9d2;
}
.delete {
    color: #f77;
}
.filter {
    background-color: #f8f8f8;
    margin: -34px -41px 30px;
    transition: all 0.3s;
    padding: 20px 40px;
}
.hide {
    display: none;
}
.show {
    display: block;
}
.dashboard-admin {
    background-image: url(./images/admin.svg);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: center 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.dashboard-admin h2 {
    text-align: center;
    font-size: 15px;
    color: #1b919e;
}
.form-part-title {
    margin: -34px -41px 30px;
    padding: 10px 40px;
    background-color: #f8f8f8;
    color: #666;
    font-size: 13px;
    margin-bottom: 10px;
}
.form-part-title.tab {
    margin: -14px -68px 17px !important;
}

.filter-icon {
    float: left;
    font-size: 18px;
    margin-top: 0px;
    margin-left: -15px;
    color: #999;
    cursor: pointer;
    padding: 0 10px;
}
.active {
    color: #1890ff !important;
}
.image-show {
    text-align: center;
    margin-top: 40px;
}
.form-postfix-text {
    color: #666;
    font-size: 11px;
    margin-right: 10px;
}
.desc {
    font-size: 13px;
    color: #555;
}
.green {
    color: green;
}
.red {
    color: red;
}
.pretitle {
    color: rgb(173, 157, 10);
    font-size: 12px;
}
.iconsList {
    text-align: center;
    min-height: 140px;
    transition: all 0.4s;
}
.iconsList:hover {
    border: 1px solid #1b919e;
}
input[type='text'] {
    border-radius: 2px;
    /* padding: 10px; */
    margin-top: -4px;
    height: 30px;
    border-color: #d9d9d9;
    /* display: block !important; */
    width: 100%;
}
.rmdp-container {
    display: block !important;
}
/* Menu */
.ant-menu {
    font-size: 13px;
    color: #333 !important;
}
.ant-menu-submenu,
.ant-menu-item:not(.ant-menu-item-only-child) {
    border-bottom: 1px solid #e0e0e0;
}
.ant-menu-item.ant-menu-item-only-child {
    padding-right: 35px !important;
}
.ant-menu-sub.ant-menu-inline > .ant-menu-item,
.ant-menu-sub.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
    line-height: 45px !important;
    height: 45px !important;
}
.ant-menu-sub {
    background-color: #f8f8f8 !important;
}
li.ant-menu-item,
div.ant-menu-submenu-title {
    margin: 0 !important;
    height: 50px !important;
}
.ant-menu.ant-menu-inline-collapsed
    > .ant-menu-submenu
    > .ant-menu-submenu-title
    .anticon,
.ant-menu.ant-menu-inline-collapsed > .ant-menu-item .ant-menu-item-icon {
    line-height: 60px !important;
}
/* Button */
.ant-btn {
    font-size: 13px !important;
}
.ant-btn-secondary {
    color: #fff;
    /* color: #fff ; */
    border-color: #df9622 !important;
    background: #df9622;
    /* font-size: 13px; */
    /* box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045); */
}
.ant-btn-secondary.ghost {
    color: #df9622 !important;
}

.ant-btn-secondary:hover {
    box-shadow: 0 0 1px 0 rgb(173, 157, 10) !important;
    /* border-color: red !important; */
    color: #fff;
    background: #df9622;
}
/* Table */
.ant-table-thead > tr > th {
    text-align: center !important;
    font-size: 12px;
    color: #444;
    font-weight: normal;
    padding: 18px 8px;
}
td {
    font-size: 12px;
    text-align: center;
}
.left-sumbit {
    margin-top: -10px;
    text-align: left;
}
/* Notification bell */
.notification-part {
    float: left;
    color: #777;
    margin: -1px 29px 0 40px;
}
.notification__message {
    direction: rtl;
    text-align: right;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #1b919e;
}
.ant-tabs-ink-bar {
    background-color: #53bbc7;
}
/* .notification__item--error {
    border-left: none;
    border-right: 8px solid #1f8838;
} */

/* Login */
/* #login-window {
    float: left;
    width: 100%;
    min-height: 100vh;
} */
#login {
    border: 1px solid #e0e0e0;
    /* border-radius: 100px !important; */
    box-shadow: 0 0 10px 1px #e0e0e0;
    margin: 30px 90px;
    flex: 1;
}
.login-image {
    background-color: #4a535e;
    min-height: 100vh;
    background-size: 100% 100%;
    /* border: 3px solid #000; */
    /* border-top-left-radius: 5px; */
    background-repeat: no-repeat;
    /* border-bottom-left-radius: 5px; */
}
.bg1 {
    background-image: url('../src/images/bg5.jpg');
}
.bg2 {
    background-image: url('../src/images/bg4.jpg');
}
.bg3 {
    background-image: url('../src/images/bg6.jpg');
}
.form-col {
    background-color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.login-cols {
    height: 100vh;
}
.form {
    margin-top: 80px;
    padding: 40px;
    width: 400px !important;
}
.nn {
    background-color: #e8e8e8;
    display: inline-block;
    display: flex;
    overflow-y: hidden;
    height: 100vh;
}
@media (max-width: 630px) {
    .form {
        width: 300px !important;
    }
}

/* LIST */
.ant-list-vertical .ant-list-item-meta-title {
    font-size: 14px;
    color: #422a03;
}
.ant-list-item-meta-description {
    font-size: 13px;
    text-align: justify;
}
.ant-list-item-action {
    /* float: left; */
    /* margin-top: 0px; */
    /* border: 1px solid #000; */
    display: flex;
    justify-content: space-between;
    margin: 0;
    /* padding-left: 0 !important; */
    /* margin-left: -25px;
    margin-right: -25px; */
}
.list-switch {
    min-width: 70px;
}
.list-edit-icon {
    font-size: 17px;
}
.list-badge {
    top: -4px;
    right: -1px;
}
.list-badge-green {
    color: #52c41a !important;
}
.list-action-left {
    margin-left: -20px;
}
div.list-switch-container button {
    width: 70px;
}
.ant-switch-checked {
    background-color: #1b919e;
}
.image-list {
    font-size: 12px;
    color: #666;
    margin-top: -10px;
}
.image-list .selected {
    color: #3d869c;
}
.image-list li {
    cursor: pointer;
}

.ant-table.ant-table-bordered
    > .ant-table-container
    > .ant-table-content
    > table
    > tbody
    > tr
    > td
    > .ant-table-expanded-row-fixed {
    margin: -11px -19px !important;
}
.add-button-top {
    margin: -10px 0px 10px 0;
    font-size: 20px;
    cursor: pointer;
    /* text-align: center; */
    float: left;
    /* float: left; */
}
/* Modal */
.modal-body {
    padding: 10px 35px;
}
.ant-card-modal-footer {
    border-top: 1px solid #f0f0f0;
    padding: 5px 0 4px;
    text-align: center;
    margin: 40px -24px -40px;
    background-color: #fafafa;
}
.ant-picker-panel-container {
    margin-left: 125px !important;
    left: 0 !important;
}
/* Calendar */
#large-calendar .rmdp-wrapper {
    width: 100%;
    padding: 3px 10px;
    background-color: #f9fafc;
}
#large-calendar .rmdp-day-picker,
#large-calendar .rmdp-top-class {
    display: block !important;
}
#large-calendar .rmdp-day span {
    font-size: 17px;
    padding-left: 0.5px;
}
.rmdp-day span {
    color: #333;
}
#large-calendar .rmdp-week,
.rmdp-ym {
    height: 44px;
}
#large-calendar .rmdp-day,
.rmdp-week-day {
    height: 40px;
    width: 40px;
}
#large-calendar .rmdp-week-day {
    font-size: 15px;
    height: 35px;
}
@media (max-height: 460px), (max-width: 460px) {
    #large-calendar .rmdp-day span {
        font-size: 11px;
    }
    #large-calendar .rmdp-day,
    .rmdp-week-day {
        height: 30px;
        width: 30px;
    }
}
.rmdp-shadow {
    /* box-shadow: none !important; */
    /* border: 1px solid #f0f0f0; */
    box-shadow: 0 0 1px #3c4c64;
}
.rmdp-day.rmdp-selected span:not(.highlight) {
    color: #fff !important;
}
/* PAGINATION */
.ant-table-wrapper.ant-table-wrapper-rtl .ant-table-pagination-left {
    /* justify-content: flex-end !important;
    float: right; */
    display: block;
}
.ant-pagination-options {
    float: left;
}
/* DIVIDER */
.small-divider {
    font-size: 12px !important;
    color: #999 !important;
    margin-top: 30px !important;
    margin-bottom: 10px !important;
}
/* DAYS FOR RESERVE */
.days-section label {
    height: auto !important;
    text-align: center;
    padding: 10px 20px;
    margin: 4px;
}
/* .day{
    flex:1;
    gap:10px;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    padding: 18px;
    cursor: pointer;
    text-align: center;
} */
.detail {
    /* color: #666; */
    background-color: #f5f5f5;
    display: block;
    margin: 5px -20px -40px;
    line-height: 25px;
    padding: 10px;
    font-size: 11px;
}
.day-of-week {
    font-size: 13px;
}
/* .reserved{
    cursor: default;
    background-color: #f7f7f7;
} */

/* MENU */

li.ant-menu-item.ant-menu-item-selected.ant-menu-item-only-child::after,
.ant-menu-inline .ant-menu-item::after {
    border-right-color: #6fc9d2 !important;
}
.ant-btn-primary {
    background-color: #df9622;
    border: none;
}
.ant-btn-primary:hover,
.ant-btn-primary:focus {
    background-color: #fcb94d;
}

.main {
    min-height: 100vh;
}
/* FOOTER */
.footer {
    margin-top: 40px;
    background-color: #f7f7f7;
    text-align: center;
    color: #999;
    font-family: Cairo;
}
.ant-menu-submenu-selected,
.ant-menu-item-selected a,
.ant-menu-item-selected a:hover,
.ant-menu-item-selected,
.ant-menu-light .ant-menu-item:hover,
.ant-menu-item a:hover {
    color: #1b919e !important;
    /* text-shadow: inset 0 10px 10px #000 !important; */
}
.ant-menu-item a {
    color: #666;
}

/* COPY DaYS */
ul.copy-days-box {
    position: fixed;
    z-index: 9999;
    width: 150px;
    text-align: center;
    left: 10px;
    bottom: 10px;
    list-style: none;
}
ul.copy-days-box li {
    border: 1px solid #e5e5e5;
    margin-top: 1px;
    background-color: #fff;
    padding: 5px 10px;
    color: #4a4a4a;
    font-size: 13px;
}
ul.copy-days-box > li.cancel-copy-button,
ul.copy-days-box > li.copy-button {
    border: 0px !important;
    background-color: transparent;
    font-size: 10px !important;
}
ul.copy-days-box > li.copy-button {
    margin-bottom: -10px;
}
li.copy-button span {
    font-size: 12px;
}
li.cancel-copy-button span {
    font-size: 11px;
}
ul.copy-days-box li:nth-child(1) {
    background-color: #c9dcdd;
    color: #1e6f75;
}

/* RIBBON */
.ant-ribbon-wrapper {
    height: 60px;
}
.ribbon {
    width: 110%;
    height: 40px;
    line-height: 40px;
    margin: 0 -40px;
}
.ant-ribbon-rtl.ant-ribbon-placement-end {
    right: -8px !important;
    border-bottom-right-radius: 0 !important;
}
.ant-menu-item:first-child {
    border-top: 1px solid #e0e0e0;
}
/* CAROSEL */
.ant-carousel .slick-slider {
    height: auto;
}
.banner-album {
    margin-top: -14px;
    margin-bottom: 10px;
}
.banner-album .ant-carousel .slick-slide img {
    height: 200px !important;
}
.modal-album .ant-carousel .slick-slide img {
    width: 100%;
    height: 400px;
}
.ant-carousel .slick-prev,
.ant-carousel .slick-next {
    color: #fff !important;
    /* border: 1px solid #000; */
    z-index: 999999999999999;
    font-size: 20px;
}
.ant-carousel .slick-next {
    right: 20px;
}
.ant-carousel .slick-prev {
    left: 20px;
}
/* MESSAGE  */
.message-alert {
    padding: 10px !important;
    margin-bottom: 10px;
    margin-top: -10px;
}
.message-alert .ant-alert-description {
    font-size: 12px !important;
    color: #556;
}
.ant-alert-with-description .ant-alert-message {
    color: #115d63;
    font-size: 14px;
}
/* Upload */
.ant-upload.ant-upload-drag p.ant-upload-drag-icon .anticon{
    display: block;
}
.ant-upload-hint{
    text-align: center;
}